body {
    background-color: #202124;
    color: white;
}

.btn-primary {
    color: white;
    background-color: #202124;
    border-color: white;
}

.vid-background {
    background-color: rgba(99, 99, 101, 0.264);
}

.icons {
    width: 50%;
    height: 50%;
}

#logo {
    width: 7%;
}
